/* 1-abstracts */ /* color */
/* primary color */
/* card color */
/* secondary color */
/* tertiary color */
/* font */
/* grid */
/* 2-base */
@-webkit-keyframes move-left {
  0% {
    opacity: 0;
    transform: translateX(-3rem);
    -webkit-transform: translateX(-3rem);
    -moz-transform: translateX(-3rem);
    -ms-transform: translateX(-3rem);
    -o-transform: translateX(-3rem);
  }
  80% {
    transform: translateX(3rem);
    -webkit-transform: translateX(3rem);
    -moz-transform: translateX(3rem);
    -ms-transform: translateX(3rem);
    -o-transform: translateX(3rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
    -webkit-transform: translateX(0rem);
    -moz-transform: translateX(0rem);
    -ms-transform: translateX(0rem);
    -o-transform: translateX(0rem);
  }
}
@keyframes move-left {
  0% {
    opacity: 0;
    transform: translateX(-3rem);
    -webkit-transform: translateX(-3rem);
    -moz-transform: translateX(-3rem);
    -ms-transform: translateX(-3rem);
    -o-transform: translateX(-3rem);
  }
  80% {
    transform: translateX(3rem);
    -webkit-transform: translateX(3rem);
    -moz-transform: translateX(3rem);
    -ms-transform: translateX(3rem);
    -o-transform: translateX(3rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
    -webkit-transform: translateX(0rem);
    -moz-transform: translateX(0rem);
    -ms-transform: translateX(0rem);
    -o-transform: translateX(0rem);
  }
}
@-webkit-keyframes move-right {
  0% {
    opacity: 0;
    transform: translateX(10rem);
    -webkit-transform: translateX(10rem);
    -moz-transform: translateX(10rem);
    -ms-transform: translateX(10rem);
    -o-transform: translateX(10rem);
  }
  80% {
    transform: translateX(-3rem);
    -webkit-transform: translateX(-3rem);
    -moz-transform: translateX(-3rem);
    -ms-transform: translateX(-3rem);
    -o-transform: translateX(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
    -webkit-transform: translateX(0rem);
    -moz-transform: translateX(0rem);
    -ms-transform: translateX(0rem);
    -o-transform: translateX(0rem);
  }
}
@keyframes move-right {
  0% {
    opacity: 0;
    transform: translateX(10rem);
    -webkit-transform: translateX(10rem);
    -moz-transform: translateX(10rem);
    -ms-transform: translateX(10rem);
    -o-transform: translateX(10rem);
  }
  80% {
    transform: translateX(-3rem);
    -webkit-transform: translateX(-3rem);
    -moz-transform: translateX(-3rem);
    -ms-transform: translateX(-3rem);
    -o-transform: translateX(-3rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0rem);
    -webkit-transform: translateX(0rem);
    -moz-transform: translateX(0rem);
    -ms-transform: translateX(0rem);
    -o-transform: translateX(0rem);
  }
}
@-webkit-keyframes move-btn {
  0% {
    opacity: 0;
    transform: translateY(0.3rem);
    -webkit-transform: translateY(0.3rem);
    -moz-transform: translateY(0.3rem);
    -ms-transform: translateY(0.3rem);
    -o-transform: translateY(0.3rem);
  }
  100% {
    opacity: 1;
    transform: translate 0rem;
    -webkit-transform: translate 0rem;
    -moz-transform: translate 0rem;
    -ms-transform: translate 0rem;
    -o-transform: translate 0rem;
  }
}
@keyframes move-btn {
  0% {
    opacity: 0;
    transform: translateY(0.3rem);
    -webkit-transform: translateY(0.3rem);
    -moz-transform: translateY(0.3rem);
    -ms-transform: translateY(0.3rem);
    -o-transform: translateY(0.3rem);
  }
  100% {
    opacity: 1;
    transform: translate 0rem;
    -webkit-transform: translate 0rem;
    -moz-transform: translate 0rem;
    -ms-transform: translate 0rem;
    -o-transform: translate 0rem;
  }
}
*,
*::after,
*::before {
  padding: 0rem;
  margin: 0rem;
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (max-width: 37.5em) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 112.5em) {
  html {
    font-size: 62.5%;
  }
}

body {
  padding: 3rem;
  font-family: "Lato";
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
@media (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  src: url("../font/Lato-Light.eot"), url("../font/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../font/Lato-Light.ttf") format("truetype"), url("../font/Lato-Light.woff") format("woff"), url("../font/Lato-Light.svg") format("svg");
}
main {
  background-color: #f7f7f7;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 5rem;
}
.heading-primary-main {
  display: block;
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation: move-left 1s ease-out;
  -webkit-animation: move-left 1s ease-out;
}
@media (max-width: 37.5em) {
  .heading-primary-main {
    font-size: 4rem;
    letter-spacing: 1rem;
  }
}
.heading-primary-sub {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1.7rem;
  animation: move-right 1s ease-out;
  -webkit-animation: move-right 1s ease-out;
}
@media (max-width: 37.5em) {
  .heading-primary-sub {
    letter-spacing: 0.5rem;
  }
}

.text-gradient {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  display: inline-block;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  -webkit-background-image: linear-gradient(to right, #7ed56f, #28b485);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
@media (max-width: 56.25em) {
  .text-gradient {
    font-size: 2rem;
  }
}
@media (max-width: 37.5em) {
  .text-gradient {
    font-size: 1.3rem;
  }
}
.text-gradient:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  -webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);
  -moz-transform: skewY(2deg) skewX(15deg) scale(1.1);
  -ms-transform: skewY(2deg) skewX(15deg) scale(1.1);
  -o-transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.text-tertiary {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #777;
  margin-bottom: 2rem;
}

.pargraph {
  font-size: 1.5rem;
}
.pargraph:not(:last-child) {
  margin-bottom: 3rem;
}

.center {
  text-align: center;
  margin-bottom: 8rem;
}

/* 3-components */
.btn, .btn:link, .btn:visited {
  font-size: 1.3rem;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  position: relative;
  display: inline-block;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  padding: 1rem 3rem;
  /* changed for <button> element */
  border: none;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-0.4rem);
  -webkit-transform: translateY(-0.4rem);
  -moz-transform: translateY(-0.4rem);
  -ms-transform: translateY(-0.4rem);
  -o-transform: translateY(-0.4rem);
  -webkit-box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  -webkit-transform: scaleX(1.4) scaleY(1.6);
  -moz-transform: scaleX(1.4) scaleY(1.6);
  -ms-transform: scaleX(1.4) scaleY(1.6);
  -o-transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active {
  transform: translateY(-0.1rem);
  -webkit-transform: translateY(-0.1rem);
  -moz-transform: translateY(-0.1rem);
  -ms-transform: translateY(-0.1rem);
  -o-transform: translateY(-0.1rem);
  -webkit-box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn::after {
  content: "";
  display: inline-block;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  border-radius: 20rem;
  -webkit-border-radius: 20rem;
  -moz-border-radius: 20rem;
  -ms-border-radius: 20rem;
  -o-border-radius: 20rem;
  position: absolute;
  top: 0rem;
  left: 0rem;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.btn-white {
  background-color: #fff;
  color: #777;
}
.btn-white::after {
  background-color: #fff;
}
.btn-services {
  background-color: #55c57a;
  color: #fff;
}
.btn-services::after {
  background-color: #55c57a;
}
.btn-animated {
  animation: move-btn 0.5s 0.75s;
  -webkit-animation: move-btn 0.5s 0.75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
.btn-green:link, .btn-green:visited, .btn-green-two:link, .btn-green-two:visited {
  font-size: 1.3rem;
  color: #55c57a;
  display: inline-block;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  border-bottom: 1px solid #55c57a;
  text-decoration: none;
  padding: 1px 5px;
}
.btn-green:hover, .btn-green-green-two, .btn-green-two:hover, .btn-green-two-green-two {
  background-color: #55c57a;
  color: #fff;
  -webkit-box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.15);
          box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.15);
  padding: 1px 5px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: inline-block;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
}
.btn-green:active, .btn-green-two:active {
  -webkit-box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
.btn-green-two, .btn-green-two-two {
  margin: 0 56rem;
}

/* image section about */
.nat {
  position: relative;
}
.nat-photo {
  position: absolute;
  z-index: 0;
  width: 55%;
  outline-offset: 0.7rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
@media (max-width: 56.25em) {
  .nat-photo {
    float: left;
    position: relative;
    width: 33.333%;
    -webkit-box-sizing: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
            box-sizing: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
  }
}
.nat-photo-pic1 {
  top: -2rem;
  left: 0;
}
@media (max-width: 56.25em) {
  .nat-photo-pic1 {
    top: 0;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
  }
}
.nat-photo-pic2 {
  top: 2rem;
  right: 0;
}
@media (max-width: 56.25em) {
  .nat-photo-pic2 {
    top: -1.5rem;
    z-index: 30;
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
  }
}
.nat-photo-pic3 {
  top: 10rem;
  left: 20%;
}
@media (max-width: 56.25em) {
  .nat-photo-pic3 {
    top: 0;
    left: 0;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
}
.nat-photo:hover {
  z-index: 1;
  outline: 4px solid #55c57a;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transform: scale(1.15) translateY(-0.7rem);
  -webkit-transform: scale(1.15) translateY(-0.7rem);
  -moz-transform: scale(1.15) translateY(-0.7rem);
  -ms-transform: scale(1.15) translateY(-0.7rem);
  -o-transform: scale(1.15) translateY(-0.7rem);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-box-shadow: 0rem 2.5rem 4rem rgba(0, 0, 0, 0.5);
          box-shadow: 0rem 2.5rem 4rem rgba(0, 0, 0, 0.5);
}
.nat:hover .nat-photo:not(:hover) {
  transform: scale(0.92);
  -webkit-transform: scale(0.92);
  -moz-transform: scale(0.92);
  -ms-transform: scale(0.92);
  -o-transform: scale(0.92);
}

.box {
  padding: 1.5rem;
  text-align: center;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  -webkit-transition: transform 0.4s;
  -moz-transition: transform 0.4s;
  -ms-transition: transform 0.4s;
  -o-transition: transform 0.4s;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.4);
}
.box-icon {
  font-size: 6rem;
  margin: 1rem 0;
  color: transparent;
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-image: -webkit-gradient(linear, left top, right top, from(#7ed56f), to(#28b485));
  -webkit-background-image: linear-gradient(to right, #7ed56f, #28b485);
}
.box-text {
  color: #777;
  margin-bottom: 2.5rem;
}
.box:hover {
  transform: scale(1.03) translateY(-2rem);
  -webkit-transform: scale(1.03) translateY(-2rem);
  -moz-transform: scale(1.03) translateY(-2rem);
  -ms-transform: scale(1.03) translateY(-2rem);
  -o-transform: scale(1.03) translateY(-2rem);
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.6);
}

.card {
  height: 50rem;
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem;
  -webkit-perspective: 150rem;
  -ms-perspective: 150rem;
  -o-perspective: 150rem;
  /* front side pic */
}
.card-side {
  height: 50rem;
  width: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.14);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.14);
}
.card-side-front {
  background-color: #fff;
}
.card-side-back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
.card-side-back-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.85)), to(rgba(255, 119, 48, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
  -webkit-background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.85)), to(rgba(255, 119, 48, 0.85)));
  -webkit-background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}
.card-side-back-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  -webkit-background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
  -webkit-background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.card-side-back-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 152, 255, 0.85)), to(rgba(86, 67, 250, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
  -webkit-background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 152, 255, 0.85)), to(rgba(86, 67, 250, 0.85)));
  -webkit-background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}
.card:hover .card-side-front {
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
}
.card:hover .card-side-back {
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
}
.card-picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  -o-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  -ms-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  -moz-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.card-picture-one {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730)), url(../img/nat-5.jpg);
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg);
  -webkit-background-image: -webkit-gradient(linear, left top, right bottom, from(#ffb900), to(#ff7730)), url(../img/nat-5.jpg);
  -webkit-background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg);
}
.card-picture-two {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485)), url(../img/nat-6.jpg);
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg);
  -webkit-background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485)), url(../img/nat-6.jpg);
  -webkit-background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg);
}
.card-picture-three {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa)), url(../img/nat-7.jpg);
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg);
  -webkit-background-image: -webkit-gradient(linear, left top, right bottom, from(#2998ff), to(#5643fa)), url(../img/nat-7.jpg);
  -webkit-background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg);
}
.card-heading {
  font-size: 2.8rem;
  font-weight: 300;
  width: 75%;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 13rem;
  right: 2rem;
  text-align: right;
}
.card-heading-span {
  padding: 1rem 1.5rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  -moz-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  -ms-box-decoration-break: clone;
}
.card-heading-span-s1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.85)), to(rgba(255, 119, 48, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
  -webkit-background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.85)), to(rgba(255, 119, 48, 0.85)));
  -webkit-background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
}
.card-heading-span-s2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.85)), to(rgba(40, 180, 133, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
  -webkit-background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.85)), to(rgba(40, 180, 133, 0.85)));
  -webkit-background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
}
.card-heading-span-s3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 152, 255, 0.85)), to(rgba(86, 67, 250, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
  -webkit-background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 152, 255, 0.85)), to(rgba(86, 67, 250, 0.85)));
  -webkit-background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
}
.card-details {
  padding: 2rem;
}
.card-details ul {
  margin: 0 auto;
  width: 80%;
}
.card-details ul li {
  color: #777;
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}
.card-details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.card-cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.card-price {
  text-align: center;
  margin-bottom: 8rem;
  color: #fff;
}
.card-price-onley {
  text-transform: uppercase;
  font-size: 1.5rem;
}
.card-price-value {
  font-size: 6rem;
  font-weight: 100;
}
@media (max-width: 56.25em) {
  .card {
    height: auto;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background-color: #fff;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
            box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  }
  .card-side {
    height: auto;
    position: relative;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .card-side-back {
    position: relative;
    top: 0.8rem;
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    -moz-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    -ms-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    -o-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  }
  .card-side-back-1 {
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.85)), to(rgba(255, 119, 48, 0.85)));
    background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
    -webkit-background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 185, 0, 0.85)), to(rgba(255, 119, 48, 0.85)));
    -webkit-background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
  }
  .card-side-back-2 {
    background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
    -webkit-background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
    -webkit-background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  }
  .card-side-back-3 {
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 152, 255, 0.85)), to(rgba(86, 67, 250, 0.85)));
    background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
    -webkit-background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(41, 152, 255, 0.85)), to(rgba(86, 67, 250, 0.85)));
    -webkit-background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
  }
  .card:hover .card-side-front {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
  }
  .card__list {
    padding: 1rem 3rem;
  }
  .card-cta {
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    width: 100%;
    padding: 7rem 4rem 4rem 4rem;
  }
  .card-price {
    margin-bottom: 3rem;
  }
  .card-price-value {
    font-size: 5rem;
  }
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  opacity: 0.15;
}
.bg-video-content {
  height: 100%;
  width: 100%;
  object-fit: cover;
  -webkit-object-fit: cover;
  -moz-object-fit: cover;
  -o-object-fit: cover;
  -ms-object-fit: cover;
}

.story {
  width: 75%;
  padding: 6rem 6rem 8rem 9rem;
  margin: 0 auto;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  transform: skewX(-12deg);
  -webkit-transform: skewX(-12deg);
  -moz-transform: skewX(-12deg);
  -ms-transform: skewX(-12deg);
  -o-transform: skewX(-12deg);
}
@media (max-width: 56.25em) {
  .story {
    width: 100%;
    padding: 4rem 4rem 6rem 7rem;
    font-size: 1.4rem;
  }
}
@media (max-width: 37.5em) {
  .story {
    transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -o-transform: skewX(0deg);
  }
}
.story-image {
  position: relative;
  height: 15rem;
  width: 15rem;
  float: left;
  overflow: hidden;
  clip-path: circle(50% at 50% 50%);
  -o-clip-path: circle(50% at 50% 50%);
  -ms-clip-path: circle(50% at 50% 50%);
  -moz-clip-path: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  -o-shape-outside: circle(50% at 50% 50%);
  -ms-shape-outside: circle(50% at 50% 50%);
  -moz-shape-outside: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%);
  transform: translateX(-3rem) skewX(12deg);
  -webkit-transform: translateX(-3rem) skewX(12deg);
  -moz-transform: translateX(-3rem) skewX(12deg);
  -ms-transform: translateX(-3rem) skewX(12deg);
  -o-transform: translateX(-3rem) skewX(12deg);
}
@media (max-width: 37.5em) {
  .story-image {
    transform: translateX(-3rem) skewX(0deg);
    -webkit-transform: translateX(-3rem) skewX(0deg);
    -moz-transform: translateX(-3rem) skewX(0deg);
    -ms-transform: translateX(-3rem) skewX(0deg);
    -o-transform: translateX(-3rem) skewX(0deg);
  }
}
.story-img {
  height: 100%;
  transform: translateX(-4rem) scale(1.4);
  -webkit-transform: translateX(-4rem) scale(1.4);
  -moz-transform: translateX(-4rem) scale(1.4);
  -ms-transform: translateX(-4rem) scale(1.4);
  -o-transform: translateX(-4rem) scale(1.4);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.story-text {
  transform: skewX(12deg);
  -webkit-transform: skewX(12deg);
  -moz-transform: skewX(12deg);
  -ms-transform: skewX(12deg);
  -o-transform: skewX(12deg);
}
@media (max-width: 37.5em) {
  .story-text {
    transform: skewX(0deg);
    -webkit-transform: skewX(0deg);
    -moz-transform: skewX(0deg);
    -ms-transform: skewX(0deg);
    -o-transform: skewX(0deg);
  }
}
.story-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  opacity: 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: "Lato";
  font-size: 1.5rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.story:hover .story-caption {
  opacity: 1;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.story:hover .story-img {
  transform: translateX(-4rem) scale(1);
  -webkit-transform: translateX(-4rem) scale(1);
  -moz-transform: translateX(-4rem) scale(1);
  -ms-transform: translateX(-4rem) scale(1);
  -o-transform: translateX(-4rem) scale(1);
  filter: blur(3px) brightness(80%);
  -webkit-filter: blur(3px) brightness(80%);
  -moz-filter: blur(3px) brightness(80%);
  -ms-filter: blur(3px) brightness(80%);
  -o-filter: blur(3px) brightness(80%);
}

.form {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 2rem;
  width: 50%;
}
@media (max-width: 75em) {
  .form {
    width: 60%;
  }
}
@media (max-width: 56.25em) {
  .form {
    width: 100%;
  }
}
.form-input {
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  width: 75%;
  border: none;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-bottom: 3px solid transparent;
}
@media (max-width: 56.25em) {
  .form-input {
    width: 100%;
  }
}
.form-input::-webkit-input-placeholder {
  color: #999;
}
.form-input:focus {
  outline: none;
  border-bottom: 3px solid #55c57a;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.form-input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}
.form-label {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.form-input:-moz-placeholder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
  -webkit-transform: translateY(-4rem);
  -moz-transform: translateY(-4rem);
  -ms-transform: translateY(-4rem);
  -o-transform: translateY(-4rem);
}
.form-input:-ms-input-placeholder + .form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
  -webkit-transform: translateY(-4rem);
  -moz-transform: translateY(-4rem);
  -ms-transform: translateY(-4rem);
  -o-transform: translateY(-4rem);
}
.form-input:placeholder-shown + .form-label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
  -webkit-transform: translateY(-4rem);
  -moz-transform: translateY(-4rem);
  -ms-transform: translateY(-4rem);
  -o-transform: translateY(-4rem);
}
.form-radio {
  width: 40%;
  display: inline-block;
}
@media (max-width: 56.25em) {
  .form-radio {
    width: 100%;
    margin-bottom: 2rem;
  }
}
.form-radio-input {
  display: none;
}
.form-radio-label {
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem;
}
.form-radio-button {
  position: absolute;
  left: 0;
  top: -0.6rem;
  height: 3rem;
  width: 3rem;
  display: inline-block;
  border: 5px solid #55c57a;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.form-radio-button::after {
  content: "";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  opacity: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: #55c57a;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
}
.form-radio-input:checked + .form-radio-label .form-radio-button::after {
  opacity: 1;
}

.popup {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -ms-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  display: table;
  overflow: hidden;
  opacity: 0;
  width: 75%;
  height: 50rem;
  background-color: #fff;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transform: translate(-50%, -50%) scale(0.2);
  -webkit-transform: translate(-50%, -50%) scale(0.2);
  -moz-transform: translate(-50%, -50%) scale(0.2);
  -ms-transform: translate(-50%, -50%) scale(0.2);
  -o-transform: translate(-50%, -50%) scale(0.2);
  transition: all 0.4s 0.2s;
  -webkit-transition: all 0.4s 0.2s;
  -moz-transition: all 0.4s 0.2s;
  -ms-transition: all 0.4s 0.2s;
  -o-transition: all 0.4s 0.2s;
}
.popup:target .popup-content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -o-transform: translate(-50%, -50%) scale(1);
}
.popup-left {
  width: 34%;
  display: table-cell;
}
.popup-img {
  height: 41vh;
  width: 100%;
  display: block;
}
.popup-right {
  width: 66%;
  display: table-cell;
  padding: 3rem 5rem;
  vertical-align: middle;
}
.popup-text {
  font-size: 1.4rem;
  margin-bottom: 4rem;
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  -o-column-count: 2;
  -ms-column-count: 2;
  column-gap: 4rem;
  -webkit-column-gap: 4rem;
  -moz-column-gap: 4rem;
  -o-column-gap: 4rem;
  -ms-column-gap: 4rem;
  column-rule: 1px solid #eee;
  -webkit-column-rule: 1px solid #eee;
  -moz-column-rule: 1px solid #eee;
  -o-column-rule: 1px solid #eee;
  -ms-column-rule: 1px solid #eee;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -o-hyphens: auto;
  -ms-hyphens: auto;
}
.popup-close:link, .popup-close:visited {
  position: absolute;
  top: 0;
  right: 2rem;
  display: inline-block;
  text-decoration: none;
  color: #999;
  font-size: 3rem;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.popup-close:hover {
  color: #55c57a;
}

.popup .text-gradient {
  font-size: 3rem;
}

/* 4-layout */
.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.5rem;
}
@media (max-width: 56.25em) {
  .footer {
    padding: 8rem 0;
  }
}
.footer-logo-box {
  text-align: center;
  margin-bottom: 8rem;
}
@media (max-width: 56.25em) {
  .footer-logo-box {
    margin-bottom: 4rem;
  }
}
.footer-logo {
  width: 15rem;
  height: auto;
}
.footer-nav {
  border-top: 1px solid #eee;
  display: inline-block;
  padding-top: 2rem;
}
@media (max-width: 56.25em) {
  .footer-nav {
    width: 100%;
    text-align: center;
  }
}
.footer-list {
  list-style: none;
}
.footer-item {
  display: inline-block;
}
.footer-item:not(:last-child) {
  margin-right: 1.5rem;
}
.footer-link:link, .footer-link:visited {
  display: inline-block;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  text-transform: uppercase;
  text-decoration: none;
  color: #f7f7f7;
}
.footer-link:hover, .footer-link:active {
  background-color: #333;
  color: #55c57a;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: rotate(5deg) scale(1.3);
  -webkit-transform: rotate(5deg) scale(1.3);
  -moz-transform: rotate(5deg) scale(1.3);
  -ms-transform: rotate(5deg) scale(1.3);
  -o-transform: rotate(5deg) scale(1.3);
}
.footer-copyright {
  border-top: 1px solid #eee;
  padding-top: 2rem;
  width: 85%;
  float: right;
}
@media (max-width: 56.25em) {
  .footer-copyright {
    width: 100%;
  }
}

.row {
  margin: 0 auto;
  max-width: 114rem;
}
@media (max-width: 56.25em) {
  .row {
    max-width: 50rem;
    padding: 0 3rem;
  }
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
@media (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
  font-size: 1.5rem;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 6rem;
}
@media (max-width: 56.25em) {
  .row [class^=col-]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}
@media (max-width: 56.25em) {
  .row [class^=col-] {
    width: 100% !important;
  }
}
.row .col-1of2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1of3 {
  width: calc((100% - 2 * 6rem) / 3);
}
.row .col-2of3 {
  width: calc(
      2 * ((100% - 2 *6rem) / 3) + 6rem
    );
}
.row .col-1of4 {
  width: calc((100% - 3 * 6rem) / 4);
}
.row .col-2of4 {
  width: calc(
      2 * ((100% - 3 *6rem) / 4) + 6rem
    );
}
.row .col-3of4 {
  width: calc(
      3 * ((100% - 3 *6rem) / 4) + 2 *6rem
    );
}

.header {
  width: 100%;
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url(../img/hero.jpg);
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  -webkit-background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url(../img/hero.jpg);
  -webkit-background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  -o-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  -ms-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  -moz-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
}
@media (max-width: 37.5em) {
  .header {
    clip-path: polygon(0 0, 100% 0, 100% 88vh, 0 100%);
    -o-clip-path: polygon(0 0, 100% 0, 100% 88vh, 0 100%);
    -ms-clip-path: polygon(0 0, 100% 0, 100% 88vh, 0 100%);
    -moz-clip-path: polygon(0 0, 100% 0, 100% 88vh, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 88vh, 0 100%);
  }
}
@media (max-width: 56.25em) {
  .header {
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    -o-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    -ms-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    -moz-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
}
.header_logo-box {
  position: absolute;
  top: 7rem;
  left: 7rem;
}
@media (max-width: 56.25em) {
  .header_logo-box {
    top: 4rem;
    left: 4rem;
  }
}
@media (max-width: 37.5em) {
  .header_logo-box {
    top: 4rem;
    left: 4rem;
  }
}
.header_logo {
  height: 3.5rem;
}
.header_text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
}

.navigation-check {
  display: none;
}
.navigation-check:checked ~ .navigation-bg {
  transform: scale(80);
  -webkit-transform: scale(80);
  -moz-transform: scale(80);
  -ms-transform: scale(80);
  -o-transform: scale(80);
}
.navigation-check:checked ~ .navigation-nav {
  width: 100%;
  opacity: 1;
}
.navigation-button {
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  z-index: 20;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
}
@media (max-width: 56.25em) {
  .navigation-button {
    top: 4rem;
    right: 4rem;
  }
}
@media (max-width: 37.5em) {
  .navigation-button {
    top: 2.5rem;
    right: 2.5rem;
  }
}
.navigation-bg {
  height: 6rem;
  width: 6rem;
  position: fixed;
  z-index: 10;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  -webkit-background-image: radial-gradient(#7ed56f, #28b485);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  -webkit-transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  -moz-transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  -ms-transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
@media (max-width: 56.25em) {
  .navigation-bg {
    top: 4.5rem;
    right: 4.5rem;
  }
}
@media (max-width: 37.5em) {
  .navigation-bg {
    top: 3rem;
    right: 3rem;
  }
}
.navigation-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  height: 100vh;
  width: 0;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -ms-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}
.navigation-item {
  text-align: center;
}
.navigation-item:not(:last-child) {
  margin-bottom: 1rem;
}
.navigation-link:link, .navigation-link:visited {
  display: inline-block;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  padding: 1rem 2rem;
  text-decoration: none;
  color: #fff;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 50%, #fff 50%);
  background-size: 227%;
}
.navigation-link:link span, .navigation-link:visited span {
  margin-right: 1rem;
  display: inline-block;
}
.navigation-link:hover, .navigation-link:active {
  background-position: 100%;
  color: #55c57a;
  transform: translateX(1rem);
  -webkit-transform: translateX(1rem);
  -moz-transform: translateX(1rem);
  -ms-transform: translateX(1rem);
  -o-transform: translateX(1rem);
}
.navigation-icon {
  position: relative;
  margin-top: 3.4rem;
}
.navigation-icon, .navigation-icon::before, .navigation-icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}
.navigation-icon::before, .navigation-icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
}
.navigation-icon::before {
  top: -0.9rem;
}
.navigation-icon::after {
  top: 0.9rem;
}
.navigation-button:hover .navigation-icon::before {
  top: -1rem;
}
.navigation-button:hover .navigation-icon::after {
  top: 1rem;
}
.navigation-check:checked + .navigation-button .navigation-icon {
  background-color: transparent;
}
.navigation-check:checked + .navigation-button .navigation-icon::before {
  top: 0;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}
.navigation-check:checked + .navigation-button .navigation-icon::after {
  top: 0;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
}

/* 5-pages */
.sec-about {
  margin-top: -16vh;
  padding: 20rem 0;
  background-size: cover;
}

.sec-features {
  padding: 15rem 0rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url(../img/nat-4.jpg);
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  -webkit-background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(126, 213, 111, 0.8)), to(rgba(40, 180, 133, 0.8))), url(../img/nat-4.jpg);
  -webkit-background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  background-position: top;
  transform: skewY(-4deg);
  -webkit-transform: skewY(-4deg);
  -moz-transform: skewY(-4deg);
  -ms-transform: skewY(-4deg);
  -o-transform: skewY(-4deg);
}
.sec-features > * {
  transform: skewY(4deg);
  -webkit-transform: skewY(4deg);
  -moz-transform: skewY(4deg);
  -ms-transform: skewY(4deg);
  -o-transform: skewY(4deg);
}

.sec-tours {
  font-size: 1.5rem;
  padding: 15rem 0;
}

.sec-stories {
  font-size: 1.5rem;
  padding: 5rem 0;
  position: relative;
  z-index: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sec-stories,
.sec-book .text-gradient {
  font-size: 3.5rem;
}

.sec-book {
  position: relative;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  -webkit-background-image: -webkit-gradient(linear, left top, right bottom, from(#7ed56f), to(#28b485));
  -webkit-background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.sec-book .center {
  margin-top: 3rem;
  float: left;
}

.sec-book .form-group .btn-services {
  margin: 3rem 0;
}

.book {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  padding: 0 5rem;
  width: 80%;
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
}
@media (max-width: 75em) {
  .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(../img/nat-10.jpg);
    background-size: cover;
  }
}
@media (max-width: 56.25em) {
  .book {
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 100%, transparent 0%), url(../img/nat-10.jpg);
    background-size: cover;
  }
}