.navigation {
  &-check {
    display: none;
  }

  &-check:checked ~ &-bg {
    transform: scale(80);
    -webkit-transform: scale(80);
    -moz-transform: scale(80);
    -ms-transform: scale(80);
    -o-transform: scale(80);
  }

  &-check:checked ~ &-nav {
    width: 100%;
    opacity: 1;
  }

  &-button {
    text-align: center;
    cursor: pointer;
    background-color: $white-color;
    height: 7rem;
    width: 7rem;
    position: fixed;
    z-index: 20;
    top: 6rem;
    right: 6rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 0 1rem 3rem rgba($black-color, 0.1);

    @include respond(tab-port) {
      top: 4rem;
      right: 4rem;
    }
    @include respond(phone) {
      top: 2.5rem;
      right: 2.5rem;
    }
  }
  &-bg {
    height: 6rem;
    width: 6rem;
    position: fixed;
    z-index: 10;
    top: 6.5rem;
    right: 6.5rem;
    @include linear(navigation);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    -webkit-transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    -ms-transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    @include respond(tab-port) {
      top: 4.5rem;
      right: 4.5rem;
    }

    @include respond(phone) {
      top: 3rem;
      right: 3rem;
    }
  }

  &-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    height: 100vh;
    width: 0;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -ms-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &-list {
    @include position;
    list-style: none;
    text-align: center;
    width: 100%;
  }
  &-item {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  &-link {
    &:link,
    &:visited {
      @include properties;
      padding: 1rem 2rem;
      text-decoration: none;
      color: $white-color;
      font-size: 3rem;
      font-weight: 300;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 50%,
        $white-color 50%
      );
      background-size: 227%;
      span {
        margin-right: 1rem;
        display: inline-block;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
      -webkit-transform: translateX(1rem);
      -moz-transform: translateX(1rem);
      -ms-transform: translateX(1rem);
      -o-transform: translateX(1rem);
    }

  }
  &-icon {
    position: relative;
    margin-top: 3.4rem;
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $bg-footer;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
      -webkit-transition: all 0.2s;
      -moz-transition: all 0.2s;
      -ms-transition: all 0.2s;
      -o-transition: all 0.2s;
    }
    &::before {
      top: -0.9rem;
    }
    &::after {
      top: 0.9rem;
    }
  }

  &-button:hover &-icon::before {
    top: -1rem;
  }

  &-button:hover &-icon::after {
    top: 1rem;
  }

  &-check:checked + &-button &-icon {
    background-color: transparent;
  }

  &-check:checked + &-button &-icon::before {
    top: 0;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
  }

  &-check:checked + &-button &-icon::after {
    top: 0;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
  }
}
