.card {
  height: 50rem;
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem;
  -webkit-perspective: 150rem;
  -ms-perspective: 150rem;
  -o-perspective: 150rem;

  &-side {
    height: 50rem;
    width: 100%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($black-color, 0.14);

    &-front {
      background-color: $white-color;
    }

    &-back {
      transform: rotateY(180deg);
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      &-1 {
        @include grad-s($color-secondary-light, $color-secondary-dark);
      }
      &-2 {
        @include linear(grad-one);
      }
      &-3 {
        @include grad-s($color-tertiary-light, $color-tertiary-dark);
      }
    }
  }
  &:hover &-side-front {
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
  }
  &:hover &-side-back {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
  }
  /* front side pic */

  &-picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -o-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -ms-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -moz-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    &-one {
      @include card-pic(
        $color-secondary-light,
        $color-secondary-dark,
        url(../img/nat-5.jpg)
      );
    }
    &-two {
      @include card-pic(
        $color-primary-light,
        $color-primary-dark,
        url(../img/nat-6.jpg)
      );
    }
    &-three {
      @include card-pic(
        $color-tertiary-light,
        $color-tertiary-dark,
        url(../img/nat-7.jpg)
      );
    }
  }
  &-heading {
    font-size: 2.8rem;
    font-weight: 300;
    width: 75%;
    text-transform: uppercase;
    color: $white-color;
    position: absolute;
    top: 13rem;
    right: 2rem;
    text-align: right;

    &-span {
      padding: 1rem 1.5rem;
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
      -moz-box-decoration-break: clone;
      -o-box-decoration-break: clone;
      -ms-box-decoration-break: clone;
      &-s1 {
        @include grad-s($color-secondary-light, $color-secondary-dark);
      }
      &-s2 {
        @include grad-s($color-primary-light, $color-primary-dark);
      }
      &-s3 {
        @include grad-s($color-tertiary-light, $color-tertiary-dark);
      }
    }
  }
  &-details {
    padding: 2rem;
    ul {
      margin: 0 auto;
      width: 80%;
      li {
        color: $gray-color;
        text-align: center;
        padding: 1rem;
        font-size: $default-font-size;
        &:not(:last-child) {
          border-bottom: 1px solid $gray-light-color-2;
        }
      }
    }
  }

  &-cta {
    @include position;
  }
  &-price {
    text-align: center;
    margin-bottom: 8rem;
    color: $white-color;
    &-onley {
      text-transform: uppercase;
      font-size: $default-font-size;
    }
    &-value {
      font-size: 6rem;
      font-weight: 100;
    }
  }

  @include respond(tab-port) {
    height: auto;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background-color: $white-color;
    box-shadow: 0 1.5rem 4rem rgba($black-color, 0.15);
    

    &-side {
      height: auto;
      position: relative;
      box-shadow: none;

      &-back {
        position: relative;
        top: 0.8rem;
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
        -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
        -moz-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
        -ms-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
        -o-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
        &-1 {
          @include grad-s($color-secondary-light, $color-secondary-dark);
        }
        &-2 {
          @include linear(grad-one);
        }
        &-3 {
          @include grad-s($color-tertiary-light, $color-tertiary-dark);
        }
      }
    }
    &:hover &-side-front {
      transform: rotateY(0deg);
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      -o-transform: rotateY(0deg);
    }

    &__list {
      padding: 1rem 3rem;
    }

    &-cta {
      text-align: center;
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      width: 100%;
      padding: 7rem 4rem 4rem 4rem;
    }
    &-price {
      margin-bottom: 3rem;
      &-value {
        font-size: 5rem;
      }
    }
  }
}
