.sec-about {
  margin-top: -16vh;
  padding: 20rem 0;
  background-size: cover;
}

.sec-features {
  padding: 15rem 0rem;
  @include linear-image(url(../img/nat-4.jpg));
  background-size: cover;
  background-position: top;
  transform: skewY(-4deg);
  -webkit-transform: skewY(-4deg);
  -moz-transform: skewY(-4deg);
  -ms-transform: skewY(-4deg);
  -o-transform: skewY(-4deg);
  & > * {
    transform: skewY(4deg);
    -webkit-transform: skewY(4deg);
    -moz-transform: skewY(4deg);
    -ms-transform: skewY(4deg);
    -o-transform: skewY(4deg);
  }
}

.sec-tours {
  font-size: $default-font-size;
  padding: 15rem 0;
}

.sec-stories {
  font-size: $default-font-size;
  padding: 5rem 0;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
}
.sec-stories,
.sec-book .text-gradient {
  font-size: 3.5rem;
}

.sec-book {
  position: relative;
  height: 100vh;
  @include linear(grad-one);
  
  @include respond(tab-port) {
    height: 60vh;
  }
  @include respond(tab-land) {
    height: 60vh;
  }
  @include respond(phone) {
    height: 80vh;
  }
}

.sec-book .center {
  margin-top: 3rem;
  float: left;
}

.sec-book .form-group .btn-services {
  margin: 3rem 0;
}

.book {
  @include position;
  padding: 0 5rem;
  width: 80%;
  background-image: linear-gradient(
      105deg,
      rgba($white-color, 0.8) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  box-shadow: 0 2rem 4rem rgba($black-color, 0.4);

  @include respond(tab-land) {
    background-image: linear-gradient(
        105deg,
        rgba($white-color, 0.8) 50%,
        transparent 50%
      ),
      url(../img/nat-10.jpg);
    background-size: cover;
  }
  @include respond(tab-port) {
    background-image: linear-gradient(
        105deg,
        rgba($white-color, 0.8) 100%,
        transparent 0%
      ),
      url(../img/nat-10.jpg);
    background-size: cover;
  }
}
